MY_SECRET=yoursecret
PORT=8080
POSTGRES_URL=postgresql://neondb_owner:npg_sHZ4LcxATqP6@ep-small-queen-adi4nq38-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ERASE_DATABASE=false
